*{
  
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding:0;
}
.errors {
  color: red;
}

.add{
  width: 100px;
  background-color: aquamarine;
}
  
.list{
  
  border: 1px solid black;
  width: 211px;
  cursor: pointer;
  /* display: block; */
}

.list:hover{
  background-color: cadetblue;
  border-color: red;
  
}

.blk-hidden{
  visibility: hidden;
}

.lists{
  display: flex;
  align-items: stretch;
  margin-left: 42px;

}

.lists #cities_to{
  margin-left:84px;
  /* visibility: hidden; */
}

form{
  display: flex;
  /* align-items: center; */
  justify-content: space-around;

}