.errors {
  color: red;
}

.add{
  width: 100px;
  background-color: aquamarine;
}
  
.list{
  border: 1px solid black;
  width: 147px;
  cursor: pointer;

}

.list:hover{
  background-color: cadetblue;
  border-color: red;
}

.blk-hidden{
  visibility: hidden;
}